@use '@/library/base' as base;

.header{

  & > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a{

    &:hover{
      text-decoration: underline;
    }
  }
  
}

.cart{

  & > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  table{
    width: 100%;

    th{
      text-align: start;
      border-bottom: 1px solid black;
      color: black;
      padding: 4px;

      &:nth-child(1){
        width: 60%;
      }
      &:nth-child(2){
        width: 20%;
      }
      &:nth-child(3){
        width: 20%;
      }
    }
    td{
      padding: 20px 10px;
    }
  }

  .notStocked{
    .product :is(a, b){
      color: base.$gs-w-40;
    }
  }
  
  .product{
    display: flex;
    align-items: center;
    gap: 15px;

    img{
      height: 4.5em;
      width: 4.5em;
    }

    a{
      &:hover{
        text-decoration: underline;
      }
    }
    span{
      color: base.$gs-b-40
    }
  }
  
  .removeBtn{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 6px;

    img{
      height: base.$sz-12-14;
    }
  }

  .couponCont{
    display: flex;
    gap: 15px;

    input{
      @include base.input();
    }
    button{
      background: base.$primary-light;
      color: white;
      padding: 0.5em 1em;
      border-radius: 6px;
      &:hover{
        background: base.$primary-color;
      }
    }
  }
}

.checkout{
  
  & > div{
    background: base.$gs-w-90;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding: 15px;
  }
  p{
    font-size: base.$sz-16-20;
    line-height: 1;
    font-weight: bold;

  }
  .prevSubtotal{
    color: base.$gs-b-40;
    text-decoration: line-through;
    line-height: 1;
  }
  .subtotal{
    color: base.$primary-light;
    font-size: base.$sz-20-24;
    line-height: 1;
  }

  .ruriCoin{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    span, strong{
      font-size: base.$sz-12-14;
    }

    img{
      height: 1.25em;
      width: 1.25em;
    }
  }

  .checkoutBtn{
    background: base.$primary-light;
    color: white;
    padding: 0.75em 1.25em;

    &:hover{
      background: base.$primary-color;
    }
  }
}

@media(max-width: 560px){
  .cart{

    table{
      td{
        padding: 15px 5px;
      }
    }
    .product{
      gap: 10px;
    }

    .couponCont{
      display: flex;
      gap: 10px;

      input{
        width: 100%;
      }
    }
  }
}