@use '@/library/base' as base;

.category{
  padding: 60px;

  h3{
    font-size: 1.5em;
  }
}

.header{
  background: base.$gs-w-80;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;

  ul{
    display: flex;
    gap: 12px;
    
    li{
      display: flex;
      
      button{
        background: white;
        padding: 0.4em 0.8em;
        line-height: 1.5;
        
        &.selected{
          background: base.$primary-light;
          color: white;
        }
        &:hover{
          background: base.$primary-light;
          color: white;
        }
      }
    }
  }
}

.productList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  gap: 20px;
}