@use '@/library/base' as base;

.item{
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  .imgCont{
    background-color: hsl(0, 0%, 90%);
    aspect-ratio: 1;
    position: relative;

    a{
      display: flex;
      height: 100%;
      width: 100%;
    }
  }

  .textCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button{
    background: base.$gs-b-60;
    display: flex;
    padding: 8px;
    border-radius: 50%;

    img{
      height: var(--fs-16-20);
      width: var(--fs-16-20);
    }
  }
}