@use '@/library/base' as base;

body:has(.product){
  background: base.$gs-w-80;
}

.breadcrumbs{
  a{
    color: base.$secondary-light;
    &:hover{
      text-decoration: underline;
    }
  }
  .divider{
    margin-inline: 6px;
  }
}

.product{

  & > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .left{

    img{
      width: 100%;
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4{
      color: base.$gs-w-50;
      font-weight: normal;
      text-transform: capitalize;
    }
    .priceCont{
      background: base.$gs-w-90;
      padding: 0.75em 1.25em;
    }
    .price{
      white-space: nowrap;
      font-size: base.$sz-20-24;
    }

    .mop{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      figure{
        display: flex;
      }
      img{
        height: 16px;
      }
    }
    .grid{
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 20px 30px;

      & > div{
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
      }
    }
    .variantList{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      
      li{
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        
        &.selected{
          button{
            color: base.$secondary-color;
            border-color: base.$secondary-color;
          }
          .checkMark{
            display: flex;
          }
        }
      }
      .checkMark{
        user-select: none;
        position: absolute;
        display: none;
        height: 24px;
        width: 24px;

        &::before{
          content: '';
          background: base.$secondary-color;
          position: absolute;
          transform: rotateZ(45deg) translateX(-65%);
          height: 100%;
          width: 100%;
        }

        img{
          height: 10px;
          width: 10px;
          margin-top: 1px;
          margin-left: 1px;
          z-index: 1;
        }
      }
      button{
        padding: 0.5em 1em;
        border: 1px solid base.$gs-w-70;
        border-radius: 3px;
        
        &:hover{
          color: base.$secondary-color;
          border-color: base.$secondary-color;
        }
      }
    }
    .error{
      color: base.$error-color;
    }

    .ruriCoin{
      display: flex;
      gap: 5px;
      align-items: center;
      img{
        height: 1.5em;
        width: 1.5em;
      }
    }
    
    .addToCart{
      background: base.$primary-light;
      color: white;
      display: flex;
      gap: 10px;
      align-items: center;
      width: fit-content;
      padding: 0.5em 1em;
      border-radius: 3px;

      svg{
        stroke: white;
        height: 1em;
        width: 1em;
      }
      &:hover{
        background: base.$primary-color;
        
      }
    }
  }
}

.additionalInfo{
  h3{
    background: base.$gs-w-90;
    padding: 0.5em 0.75em;
  }
}

:is(.product, .additionalInfo, .reviews){
  & > div{
    background: base.$gs-w-100;
    padding: 20px;
  }

  h1{
    font-size: base.$sz-20-24;
  }
  h2{
    font-size: base.$sz-20-24;
  }
  h3{
    font-size: base.$sz-16-20;
  }
}

@media(max-width: 780px){
  .product{
    & > div{
      grid-template-columns: 1fr;
    }
    .left{
      display: flex;
      justify-content: center;
      img{
        max-height: 320px;
        max-width: 320px;
      }
    }
    .right{
      justify-content: space-between;
    }
  }
  
}