@use '@/styles/base' as base;

.searchResults{
  padding-block: 60px;

  h3{
    font-size: 1.5em;
  }
}

.header{
  background: base.$gs-w-80;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.sortList{
  display: flex;
  gap: 12px;
  
  li{
    display: flex;
    
    button{
      background: white;
      padding: 0.4em 0.8em;
      line-height: 1.5;
      
      &.selected{
        background: base.$primary-light;
        color: white;
      }
      &:hover{
        background: base.$primary-light;
        color: white;
      }
    }
  }
}

.sortSelect{
  display: none;
  background: hsl(214, 15%, 98%);
  padding: 0.5em 0.8em;
  border: 1px solid hsl(214, 12%, 92%);
  border-radius: 6px;
}

.productList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  gap: 30px 20px;
}

.searchResults:has(.nullHeader){
  padding-block: 60px 160px;
}

.nullHeader{
  background: hsl(214, 12%, 92%);
  padding: 15px;
  
}

.paginationCont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;

  img{
    height: 1.25em;
    width: 1.25em;
  }

  .nextBtn, .prevBtn{
    display: flex;

    &:disabled{
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .productPagination{
    display: flex;
    gap: 15px;

    button{
      height: 2em;
      width: 2em;
      border-radius: 50%;

      &.currentPage{
        background: base.$primary-color;
        color: white;
      }
      &:hover{
        background: base.$primary-light;
        color: white;
      }
    }
  }
}

@media(max-width: 980px){
  .sortList{ display: none; }
  .sortSelect{ display: block; }
}

@media(max-width: 560px){
  .productList{
    grid-template-columns: 1fr 1fr;
    gap: 20px 15px;
  }
}