@use '@/styles/base' as base;

.item{
  display: flex;
  flex-direction: column;
  gap: 15px;
  
  .imgCont{
    aspect-ratio: 1;
    position: relative;
    
    img{
      width: 100%;
      height: 100%;
    }
    a{
      display: flex;
      height: 100%;
      width: 100%;
    }
    .outOfStock{    
      background: base.$gs-b-60;
      color: white;
      position: absolute;
      bottom: 10px;
      left: 10px;
      padding: 0.25em 0.5em;
      border-radius: 6px;
    }
  }

  .textCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button{
    background: base.$gs-b-60;
    display: flex;
    padding: 8px;
    border-radius: 50%;

    img{
      height: var(--fs-16-20);
      width: var(--fs-16-20);
    }
  }
}