@use '@/styles/base' as base;

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  h1{
    font-size: base.$sz-24-28;
    text-align: center;
  }
}

.emailDisplay{
  padding: 10px;
  background: base.$gs-w-90;
  border-radius: 6px;
  font-size: 14px;
  
  strong{
    color: base.$primary-color;
  }
}

.txtField{
  background: base.$gs-w-100;
  padding: 0.75em;
  border: 1px solid base.$gs-w-80;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;

  &:disabled{
    background: base.$gs-w-90;
    cursor: not-allowed;
  }
}

.errorMsg{
  color: hsl(0, 65%, 51%);
  font-size: 0.85rem;
}