@use '@/styles/base' as base;

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  h1{
    font-size: base.$sz-24-28;
    text-align: center;
  }

  .txtField{
    @include base.input();
    width: 100%;
  }
  input[type="number"]{
    @include base.input-hide-spinner();
  }

  .showPass{
    position: absolute;
    top: 0.9em;
    right: 0.9em;
    display: flex;

    img{
      height: 1em;
      width: 1em;
    }
  }
  select, option{
    text-transform: capitalize;
  }
}

.alt{
  background: base.$gs-w-90;
  padding: 15px;
  
  a{
    color: base.$link-color;
  }
}