@use '@/styles/base' as base;

$border-color: base.$gs-w-60;

.quantityInput{
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  width: fit-content;

  & > *{
    display: flex;
  }
  button{
    padding: 0.25em;
    height: 100%;
  }
  input{
    background: none;
    text-align: center;
    width: 4ch;
    padding: 0.25em 0;
    border: none;
    line-height: 1.15;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  img{
    height: 1.15em !important;
    width: 1em !important;
  }
}