@use '@/styles/base' as base;

body:has(.profile){
  background: base.$gs-w-90;
}

.profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 40px;

  h3{
    font-size: base.$sz-20-24;
  }
  .title{
    color: base.$gs-b-50;
  }

  section{
    background: white;
    border-radius: 6px;
  }
}

.heading{
  display: flex;
  gap: 15px;
  
  button{
    img, svg{
      height: 1em;
      width: 1em;
    }
  }
}

.addAddressBtn{
  background: base.$secondary-light;
  display: flex;
  align-items: center;
  padding: 0.75em 1em;
  gap: 5px;
  color: white;
  border-radius: 6px;
  line-height: 1;
  
  &:hover{
    background: base.$secondary-color;
  }
  svg{
    fill: white;
  }
}
.addressItem{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-top: 20px;

  &:not(:last-child){
    padding-bottom: 20px;
    border-bottom: 1px solid base.$gs-w-60;
  }

  .defaultTxt{
    font-size: 0.8em;
    width: fit-content;
    padding: 4px;
    border: 1px solid base.$gs-w-60;
  }
}