@use '@/library/base' as base;

body:has(.profile){
  background: base.$gs-w-90;
}

.profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 40px;

  h3{
    font-size: base.$sz-20-24;
  }
  .title{
    color: base.$gs-b-50;
  }

  section{
    background: white;
    border-radius: 6px;
  }
}

.heading{
  display: flex;
  gap: 15px;
  
  button{
    svg{
      fill: base.$link-color;

    }
    img, svg{
      height: 1em;
      width: 1em;
    }
  }
}

.addAddressBtn{
  display: flex;
  align-items: center;
  gap: 5px;
  color: base.$link-color;

  &:hover{
    text-decoration: underline;
  }
}