@use '@/styles/base' as base;

.faq{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-block: 40px 80px;

  h2{
    text-align: center;
  }
  & > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.category{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 2 span;
  
  h3{
    font-size: 1.5em;
    text-align: center;
  }
  .item{
    display: grid;
    grid-template-rows: max-content 0fr;
    transition: grid-template-rows 0.4s;

    &:not(:first-child) .header{
      border-top-width: 0;
    }

    &.show{
      grid-template-rows: max-content 1fr;

      svg{
        transform: rotateZ(180deg);
      }
      .content{  
        padding-block: 30px;
      }
    }
  }
  .header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid base.$gs-w-50;
    cursor: pointer;

    svg{
      height: 1.25em;
      width: 1.25em;
      transition: transform 0.4s;
    }
    input{ display: none; }
  }

  .content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding-inline: 15px;
    transition: padding-block 0.4s, border-width 0.4s; 
    border: 1px solid base.$gs-w-50;
    border-top-width: 0;
  }
}

@media(max-width: 780px){
  .faq > div{
    grid-template-columns: 1fr;
  }
}