@use '@/library/base' as base;
@use "sass:map";

$tiers: (
  "seed": (
    top-bg: base.$primary-dark,
  ),
  "tree": (
    top-bg: base.$primary-dark,
  ),
  "forest": (
    top-bg: linear-gradient(150deg, base.$primary-color 0%, base.$primary-light 80%) ,
  ),
);
@each $name, $value in $tiers {
  .tier-#{$name} {
    --top-bg: #{map.get($value, top-bg)};
  }
}

.tier{
  background: base.$gs-w-90;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  justify-items: center;
  padding: 0 30px 25px;
  border-radius: 12px;

  button{
    background: base.$secondary-color;
    padding: 0.75em 1.25em;
    color: white;
    border-radius: 8px;
    width: fit-content;

    &:hover{
      background: base.$secondary-dark;
    }
  }
}

.top{
  background: var(--top-bg);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 25px;
  border-radius: 0 0 12px 12px;

  h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
  }
  img{
    height: 80px;
    width: 80px;
  }
}