:root{
  --font: 'lucida grande',tahoma,verdana,arial,sans-serif;
  --font1: 'Poppins', 'Roboto', 'Open Sans', sans-serif;

  /* Font Size Clamp (560-700)*/
  --fs-30-36: clamp(30px, 0.375rem + 4.2857vw, 36px);
  --fs-20-24: clamp(20px, 0.25rem + 2.8571vw, 24px);
  --fs-16-20: clamp(16px, 0rem + 2.8571vw, 20px);
  --fs-14-16: clamp(14px, 0.375rem + 1.4286vw, 16px);
  --fs-12-16: clamp(12px, -0.25rem + 2.8571vw, 16px);
  --fs-12-14: clamp(12px, 0.25rem + 1.4286vw, 14px);
  --fs-10-12: clamp(10px, 0.125rem + 1.4286vw, 0.12px);

  /* Solid Color */
  --l-blue: hsl(222, 92%, 46%);
  --blue: hsl(222, 88%, 33%);
  --yellow: hsl(49, 90%, 60%);
  --gray: hsl(222, 6%, 62%);
  --taken: #0000ff;
  --inLoad: #228b22;
  --notTaken: #000000;
  --incomplete: #b42222;
  --credited: #b8860b;
  --preReq: #b31090;
  --pale: #cccc99f3;
}