@use '@/styles/base' as base;

.OrderConfirmation{
  display: flex;
  gap: 25px;

  h4{
    font-size: base.$sz-20-24;
  }
  .circleCheck{
    height: 2em;
    width: 2em;
  }
}

.left{
  flex: 1 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right{
  flex: 1 0;

  table{
    width: 100%;
    
    td{
      padding-block: 15px;
      
      &:first-child{
        padding-right: 10px;
      }
      &:last-child{
        padding-left: 10px;
      }
    }
  }
  .ruriCoin{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 5px;

    span, strong{
      font-size: base.$sz-12-14;
    }

    img{
      height: 1.25em;
      width: 1.25em;
    }
  }

  .product{
    display: flex;
    align-items: center;
    gap: 15px;

    img{
      height: 4.5em;
      width: 4.5em;
    }
    .floatCount{
      background: base.$gs-b-50;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(20%, -20%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 1.5em;
      line-height: 1;
      font-size: base.$sz-12-14;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    .txt{
      p, span{
        line-height: 1;
      }
    }

    span{
      color: base.$gs-b-40
    }
  }

  hr{
    border: 1px solid base.$gs-w-50;
    margin-block: 10px;
  }
  
  .total{
    b, strong{
      font-size: base.$sz-16-20;
    }
  }
}

.infoGrid{
  display: grid;
  grid-template-columns: max-content;
  gap: 10px 20px;

  .title{
    font-weight: bold;
  }

  li{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
  }
}

@media(max-width: 980px){
  .OrderConfirmation{
    flex-direction: column;
  }
}

@media(max-width: 560px){
  .infoGrid{
    li{
      grid-template-columns: 1fr;
    }
  }
}