@use '@/styles/base' as base;

.locationContainer{
  & > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-block: 60px;
  }
}

.main{
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 20px;
}

.top{
  display: flex;
  flex-direction: column;
  gap: 15px;

  .rangePicker{
    padding: 0;
  }
  .distanceVal{
    width: 5.5ch;
  }
  .inputCont{
    display: flex;
    gap: 15px;
  }
  .input{
    max-width: 300px;
  }
  
  button{
    background: base.$primary-color;
    color: white;
    padding: 0.5em 1.25em;
    border-radius: 6px;
    height: fit-content;
    
    &:hover{
      background: base.$primary-dark;
    }
  }
}

.left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.locationItem{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 1px solid base.$gs-w-80;

  .submit{
    background: base.$primary-light;
    color: white;
    padding: 0.5em 1.25em;
    border-radius: 6px;
    width: fit-content;
    
    &:hover{
      background: base.$primary-color;
    }
  }
}

.view{
  display: flex;
  gap: 10px;

  button{
    text-transform: capitalize;
    background: base.$secondary-color;
    color: white;
    padding: 0.5em 1.25em;
    border-radius: 6px;
    
    &:hover{
      background: base.$secondary-dark;
    }
  }
}

.mode{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
  li{
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    
    &.selected{
      button{
        color: base.$secondary-color;
        border-color: base.$secondary-color;
      }
      .checkMark{
        display: flex;
      }
    }
  }
  .checkMark{
    user-select: none;
    position: absolute;
    display: none;
    height: 24px;
    width: 24px;

    &::before{
      content: '';
      background: base.$secondary-color;
      position: absolute;
      transform: rotateZ(45deg) translateX(-65%);
      height: 100%;
      width: 100%;
    }

    img{
      height: 10px;
      width: 10px;
      margin-top: 1px;
      margin-left: 1px;
      z-index: 1;
    }
  }
  button{
    display: flex;
    padding: 0.5em 0.75em;
    border: 1px solid base.$gs-w-70;
    border-radius: 3px;
    
    &:hover{
      color: base.$secondary-color;
      border-color: base.$secondary-color;
    }
    img{
      height: 1.25em;
      width: 1.25em;
    }
  }
}

.input{
  background: hsl(214, 15%, 98%);
  padding: 0.75em;
  border: 1px solid hsl(214, 12%, 92%);
  border-radius: 6px;
  width: 100%;
}

.mapProxy{
  background-color: base.$gs-w-70;
  display: flex;
  aspect-ratio: 3 / 4;
}

@media(max-width: 780px){
  .main{
    display: flex;
    flex-direction: column-reverse;
  }
  .locationItem{
    padding: 15px;
  }
  .mapProxy{
    aspect-ratio: 4 / 3;
  }
}
@media(max-width: 560px){
  .top .inputCont{
    flex-wrap: wrap;
  }

}