@use '@/styles/base' as base;

.header{
  background: base.$primary-color;
}

:is(.top, .bottom) > div{
  display: flex;
  align-items: center;
}

.top{
  border-bottom: 2px solid base.$highlight-color;

  & > div{
    justify-content: space-between;
    gap: 30px;
  }

  .navLinks{
    a{
      display: flex;
      padding-block: 13px;
    }
    img{
      height: 1.5em;
      width: 1.5em;
    }
  }
  .cart{
    position: relative;

    img{
      height: 1.75em;
      width: 1.75em;
    }

    div{
      background: base.$secondary-color;
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translateX(50%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 1.25em;
      line-height: 1;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

  .authNav{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    
    img{
      height: 1.5em;
      width: 1.5em;
    }
    a{
      display: flex;
      color: inherit;
      padding-block: 13px;

      &:hover{
        text-decoration: underline;
      }
    }
    .options{
      position: absolute;
      top: 0;
    }

    .user{
      display: flex;
      gap: 10px;
      padding-block: 13px;
      
      span{
        color: white;
      }
    }
    [popover]{
      inset: unset;
      top: anchor(bottom);
      left: anchor(left);
      border: none;

      button{
        padding: 1em 1.25em;
        width: 100%;

        &:hover{
          background: base.$secondary-light;
          color: white;
        }
      }
    }
  }
}

.bottom{
  height: 66px;

  & > div{
    justify-content: space-between;
  }

  .logo img{
    height: 45px;
  }
  .navLinks{
    a{
      padding-block: 21px;
    }
  }
  
  .searchBar{
    background: base.$gs-w-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 40px;
    max-width: 280px;
    border-radius: 20px;
    padding-inline: 20px;

    input{
      background: none;
      border: none;
      width: 100%;
    }

    img{
      height: 25px;
      width: 25px;
    }
  }
  .searchResults{
    background: base.$gs-w-100;
    padding: 15px;
  }
}

.navLinks{
  display: flex;
  gap: 20px;

  li{
    display: flex;
  }
  a{
    color: white;
    transition: color 0.3s ease-in-out;

    &:hover, &.active{
      color: base.$secondary-color;
    }
  }
}

.burger{
  display: none;
  background: none;
  border: none;

  svg{
    width: 24px;
    height: 24px;
  }
}

.mobileMenu{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 60;
  transform: translateX(-100%);
  transition: transform 0.4s;

  .mobileInner{
    background: base.$primary-light;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-block: 20px;
    height: 100vh;
    height: 100dvh;
    width: 80vw;
    max-width: 280px;
    box-shadow: -8px 0 24px rgba(0, 0, 0, 0.2);

    .closeCont{
      display: flex;
      justify-content: end;
      padding-inline: 20px;

      svg{
        width: 24px;
        height: 24px;
      }
    }

    .searchCont{
      padding-inline: 20px;
    }
    .mobileSearch{
      background: base.$gs-w-100;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      height: 40px;
      padding-inline: 12px;
      border-radius: 4px;

      input{
        background: none;
        border: none;
        width: 100%;
      }

      img{
        height: 20px;
        width: 20px;
      }
    }

    .mobileNavLinks{
      display: flex;
      flex-direction: column;

      li{ display: block; }
      a{
        display: flex;
        color: white;
        font-size: 18px;
        padding: 0.5em 1em;
        width: 100%;

        &.active{
          color: base.$secondary-color;
        }
      }
    }
  }
}


@media (max-width: 980px){
  .mainNav{ display: none; }
  .top > div{
    justify-content: flex-end;
  }
  .bottom{
    > div{ position: relative; }
    .searchBar{ display: none; }
  }

  .burger{ display: flex; }

  .mobileMenu{
    display: block;
    
    &.open{
      transform: translateX(0%);
    }
  }
}