@use '@/library/base' as base;

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .inputRequired{
    color: red;
    line-height: 1;
  }
}

.shipping{
  .shipList{
    display: flex;
    flex-direction: column;
    border: 1px solid base.$gs-w-50;

    & > li{
      &:not(:last-child){
        border-bottom: 1px solid base.$gs-w-50;
      }
    }
    p{
      height: fit-content;
    }
  }

  .locationList{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 5px 5px 15px;
    border-top: 1px solid base.$gs-w-50;
  }

  label{
    cursor: pointer;
  }

  textarea{
    --padding: 4px;

    line-height: 1.5;
    padding: var(--padding);
    padding-inline: calc(var(--padding) + calc((1lh - 2ex) / 2));
    height: calc(4lh + 2 * (var(--padding) + 2px));
    min-height: calc(2lh + 2 * (var(--padding) + 2px));
    max-height: calc(8lh + 2 * (var(--padding) + 2px));
    width: 100%;
    resize: vertical;
    border: 1px solid base.$gs-w-50;
  }
}

.information{
  .inputCont{
    flex-grow: 1;

    label{
      font-size: base.$sz-12-14;
      line-height: 1;
    }
    input, select{
      @include base.input();
      @include base.input-hide-spinner();

      &.error{
        border-color: red;
        background-color: rgba(255, 0, 0, 0.05);
      }
    }
  }
  .inputGroup{
    display: flex;
    gap: 15px;
  }
}

.errorMsg{
  color: hsl(0, 65%, 51%);
  font-size: 0.85rem;
}

.submitBtn{
  background: base.$secondary-light;
  padding: 0.5em 1em;
  line-height: 1.5;
  color: white;  

  &:hover{
    background: base.$secondary-color;
  }
}

@media(max-width: 980px){
  .main{
    flex-direction: column;
  }

  .orderSummary{
    border: 1px solid base.$gs-w-50;

    &.show{
      grid-template-rows: max-content 1fr;

      svg{
        transform: rotateZ(180deg);
      }
      .content{
        padding-block: 15px;
        border-top: 1px solid base.$gs-w-50;
      }
    }
    
    .header{
      padding: 15px;
      cursor: pointer;

      svg{
        display: block;
      }
    }

    .content{
      overflow: hidden;
      padding-inline: 15px;
      transition: padding-block 0.4s;
    }
  }
}

@media(max-width: 560px){
  .information{
    .inputGroup{
      flex-direction: column;
    }
  }
}