@use '@/library/base' as base;

.checkout{
  h4{
    font-size: base.$sz-20-24;
  }
}

.breadcrumbs{
  background: base.$gs-w-80;
  padding: 10px 15px;

  a{
    color: base.$gs-b-100;

    &:hover{
      text-decoration: underline;
    }
    &.active{
      color: base.$secondary-color;
    }
  }
  .divider{
    margin-inline: 6px;
  }
}

.grid{
  display: flex;
  gap: 20px;

  & > :first-child{
    flex: 1.2;
  }
  & > :last-child{
    flex: 1;
  }
}

@media(max-width: 980px){
  .grid{
    display: flex;
    flex-direction: column-reverse;
  }
}