@use '@/library/base' as base;

.orderSummary{
  display: grid;
  grid-template-rows: max-content 0fr;
  height: fit-content;
  transition: grid-template-rows 0.4s;

  .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
        
    svg{
      display: none;
      height: 1.25em;
      width: 1.25em;
      transition: transform 0.4s;
    }
    img{
      height: 1.25em;
      width: 1.25em;
    }
    b{
      font-size: base.$sz-16-20;
    }
    strong{
      font-size: base.$sz-20-24;
    }
  }

  hr{
    border: 1px solid base.$gs-w-50;
    margin-block: 10px;
  }

  table{
    width: 100%;

    th{
      text-align: start;
      border-bottom: 1px solid black;
      color: black;
      padding: 4px;

      &:nth-child(1){
        width: 60%;
      }
      &:nth-child(2){
        width: 40%;
      }
    }
    td{
      padding-block: 15px;
      
      &:first-child{
        padding-right: 10px;
      }
      &:last-child{
        padding-left: 10px;
      }
    }
  }

  .notStocked{
    .product :is(a, b){
      color: base.$gs-w-40;
    }
  }
  
  .product{
    display: flex;
    align-items: center;
    gap: 15px;

    img{
      height: 4.5em;
      width: 4.5em;
    }
    .floatCount{
      background: base.$gs-b-50;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(20%, -20%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 1.5em;
      line-height: 1;
      font-size: base.$sz-12-14;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    .txt{
      p, span{
        line-height: 1;
      }
    }

    span{
      color: base.$gs-b-40
    }
  }
  
  .removeBtn{
    height: fit-content;
    width: fit-content;
    padding: 4px;

    img{
      height: base.$sz-12-14;
    }
  }

  .couponCont{
    display: flex;
    gap: 15px;

    input{
      @include base.input();
      width: 100%;
    }
    button{
      background: base.$primary-light;
      color: white;
      padding: 0.5em 1em;
      border-radius: 6px;
      &:hover{
        background: base.$primary-color;
      }
    }
  }

  .ruriCoin{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    span, strong{
      font-size: base.$sz-12-14;
    }

    img{
      height: 1.25em;
      width: 1.25em;
    }
  }
  
  .total{
    b, strong{
      font-size: base.$sz-16-20;
    }
  }
}

@media(max-width: 560px){
  .orderSummary{
    .header > div{
      width: 100%;
    }
    table td{
      padding-block: 10px;

      &:first-child{
        padding-right: 5px;
      }
      &:last-child{
        padding-left: 5px;
      }
    }
    .product{
      gap: 10px;
    }

    .couponCont{
      display: flex;
      gap: 10px;
    }
  }
}

@media(max-width: 980px){
  .orderSummary{
    border: 1px solid base.$gs-w-50;

    &.show{
      grid-template-rows: max-content 1fr;

      svg{
        transform: rotateZ(180deg);
      }
      .content{
        padding-block: 15px;
        border-top: 1px solid base.$gs-w-50;
      }
    }
    
    .header{
      padding: 15px;
      cursor: pointer;

      svg{
        display: block;
      }
    }

    .content{
      overflow: hidden;
      padding-inline: 15px;
      transition: padding-block 0.4s;
    }
  }
}