.modalOverlay{
  background-color: hsla(0, 0%, 0%, 0.3);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modalContainer{
  background: hsl(214, 12%, 92%);
  display: flex;
  flex-direction: column;
  min-height: 280px;
  min-width: min(380px, calc(100vw - 30px));
  box-shadow: 0 0 10px 1px hsla(0, 0%, 0%, 0.1);
  border-radius: 6px;
}

.mainContent{
  overflow-y: auto;
  height: 100%;
  padding: 15px;
  
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb{
    background: hsl(240, 5%, 73%);
    height: 5px;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background: hsl(240, 5%, 65%);
  }
}

.header{
  background: hsl(214, 8%, 72%);
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0 15px;
  border-radius: 6px 6px 0 0;

  .closeButton{
    display: flex;
    height: 18px;
    width: 18px;
    
    svg{
      height: 18px;
      width: 18px;
    }
  }
}