@use '@/styles/base' as base;

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
  
  h3{ text-align: center; }
  
  button{
    background: base.$primary-color;
    padding: 0.75em 1.5em;
    line-height: 1.5;
    border-radius: 10px;
    
    a{
      color: white;
    }
    &:hover{
      background: base.$primary-dark;
    }
  }
}

.tracking{
  padding: 40px;

  & > div{
    background: base.$gs-w-80;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
  }
  .searchBar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: white;
    padding: 15px;
    border: 1px solid base.$gs-w-50;
  }
  input{
    background: none;
    font-size: var(--fs-12-16);
    border: none;
    width: 100%;
  }
  img{
    height: 20px;
    width: 20px;
  }
  
  .body{
    background: white;
    padding: 15px;
    min-height: 300px;
  }
}