@use '@/library/base' as base;

.top{
  background: base.$gs-w-100;
  
  & > div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-block: 80px 40px;
  }
  .main{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;

    & > div{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 55px;
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .socmed{
      flex-direction: row;
      justify-content: center;

      img{
        height: 1.2em;
        width: 1.2em;
      }
    }
  }

  h2{
    text-align: center;
    font-size: var(--fs-20-24);
    width: 100%;
  }
  li{
    line-height: 1.5;
  }
}

.bottom{
  background: base.$gs-w-70;
  display: flex;
  justify-content: center;
  padding-block: 12px;
}

.mop{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px 15px;

  figure{
    display: flex;
  }
  img{
    height: 24px;
  }
}

@media(max-width: 780px){
  .top .main{
    flex-direction: column;
    & > div{
      gap: 20px;
    }
  }
  .mop{
    img{
      height: 16px;
    }
  }
}