// v2.4
@use './base' as base;
@use './util' as util;

*, *::before, *::after {
  text-decoration: none;
	box-sizing: border-box;
  scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}
html, body{
  overflow: hidden auto;
}
body{
  font-family: base.$font1;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  scroll-behavior: auto;
}

// text tags
h1{ font-size: clamp(3.5rem, 1.5rem + 5.7143vw, 4rem); }
h2{ font-size: clamp(2.5rem, 0.5rem + 5.7143vw, 3rem); }
h3{ font-size: clamp(1.75rem, 0.75rem + 2.8571vw, 2rem); }
h4, p, a, b, span, li, th, td, button{ font-size: clamp(0.75rem, -0.25rem + 2.8571vw, 1rem); }
h1, h2, h3, h4, h5, h6, p, span, a{ line-height: 1.5; }
a{
  font-family: inherit;
  text-decoration: none;
  color: base.$gs-b-90;
  cursor: pointer;
}
code, pre, kbd, samp{
  font-family: monospace;
}
b, strong{
  font-weight: bolder;
}
blockquote, q {
  quotes: none;
}

// button
button{
  font-family: inherit;
  color: base.$gs-b-90;
  background: none;
  border: none;

  &[type=button]:not(:disabled),
  &[type=reset]:not(:disabled),
  &[type=submit]:not(:disabled),
  &:not(:disabled){
    cursor: pointer;
  }
}

// list
ol, ul{ list-style: none; }

// table
table{
  border-collapse: collapse;
  border-spacing: 0;
}

// form tags
input, textarea, select{
  font-family: inherit;
}
:is(input, textarea, select, button):focus-visible{
  outline: none;
}
input, textarea{
  color: base.$gs-b-90;
  font-size: clamp(0.75rem, -0.25rem + 2.8571vw, 1rem);
  outline: none;
  padding: 3px;
  border: 1px solid hsl(222, 2%, 20%);
  
  &:focus{ border: 1px solid hsl(0, 0%, 65%); }
}
select, option{
  font-size: clamp(0.75rem, -0.25rem + 2.8571vw, 1rem);
  font-style: normal;
  padding: 3px;
}
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="image"],
input[type="url"]{
  cursor: pointer;
}

// image