@use '@/library/base' as base;

.goBackbtn{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  & > div{
    display: flex;
    background: base.$gs-w-80;
    padding: 8px;
    border-radius: 6px;
  }
  img{
    height: 1.2em;
    width: 1.2em;
  }
  span{
    white-space: nowrap;
  }
  &:hover > div{
    background: base.$gs-w-70;
  }
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  h1{
    font-size: base.$sz-24-28;
    text-align: center;
  }
}


.txtField{
  background: base.$gs-w-100;
  padding: 0.75em;
  border: 1px solid base.$gs-w-80;
  border-radius: 6px;
  width: 100%;
}


.bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  .rememberMe{
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  a{
    color: hsl(211, 100%, 50%);

    &:hover{
      text-decoration: underline;
    }
  }
}

.submitBtn{
  background: base.$primary-light;
  color: white;
  padding: 0.75em 1.25em;
  border-radius: 6px;
  
  &:hover{
    background: base.$primary-color;
  }
}