@use '@/library/base' as base;

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  h1{
    font-size: base.$sz-24-28;
    text-align: center;
  }
}

.top{
  display: flex;
  flex-direction: column;
  gap: 15px;

  .txtField{
    @include base.input();
    width: 100%;
  }

  .showPass{
    position: absolute;
    top: 0.9em;
    right: 0.9em;
    display: flex;

    img{
      height: 1em;
      width: 1em;
    }
  }
}

.errorMsg{
  color: hsl(0, 65%, 51%);
  font-size: 0.85rem;
}

.bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  .rememberMe{
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  a{
    color: base.$link-color;

    &:hover{
      text-decoration: underline;
    }
  }
}

.submitBtn{
  background: base.$primary-light;
  color: white;
  padding: 0.75em 1.25em;
  border-radius: 6px;
  
  &:hover{
    background: base.$primary-color;
  }
}

.alt{
  background: base.$gs-w-90;
  padding: 15px;

  a{
    color: base.$link-color;
  }
}