@use '@/library/base' as base;

.goBackbtn{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  & > div{
    display: flex;
    background: base.$gs-w-80;
    padding: 8px;
    border-radius: 6px;
  }
  img{
    height: 1.2em;
    width: 1.2em;
  }
  span{
    white-space: nowrap;
  }
  &:hover > div{
    background: base.$gs-w-70;
  }
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  h1{
    font-size: base.$sz-24-28;
    text-align: center;
  }

  .txtField{
    @include base.input();
    width: 100%;
  }
  input[type="number"]{
    @include base.input-hide-spinner();
  }

  .showPass{
    position: absolute;
    top: 0.9em;
    right: 0.9em;
    display: flex;

    img{
      height: 1em;
      width: 1em;
    }
  }
  select, option{
    text-transform: capitalize;
  }
}

.submitBtn{
  background: base.$primary-light;
  color: white;
  padding: 0.75em 1.25em;
  border-radius: 6px;
  
  &:hover{
    background: base.$primary-color;
  }
}

.alt{
  background: base.$gs-w-90;
  padding: 15px;
  
  a{
    color: base.$link-color;
  }
}